.field-select {
  $block-name:                &; // #{$block-name}__element

  display: block;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $screen-xl) {
    margin-bottom: 32px;
  }

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__select {
    display: inline-flex;
    //vertical-align: middle;
    width: 100%;
    height: 44px;
    padding: $field-padding-vertical  $field-padding-horizontal;
    font-size: 1rem;
    font-family: $font-family;
    font-weight: 200;
    line-height: $line-height;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: none;
    color: $title-color;
    background-color: $white;
    //background-image: svg-load('../blocks/field-select/bg-img/select-down.svg', fill=$border-color);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
      display: none;
    }

    &:hover {
      //border-color: $link-color--hover;
    }

    &:active,
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      color: $text-muted;
      border-color: $text-muted;
      background-color: $white;
    }

    &.ss-open {
      height: auto;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__help-text {
    @include field-help-text;
  }

  .ss-main .ss-arrow {
    display: block;
    margin: 0;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: svg-load('../blocks/sprite-svg/svg/arrow-down-sm.svg', fill=$text-color);
    transition: transform $transition-time;

    path {
      display: none;
    }
  }
}

.field-select .ss-main[aria-expanded=true] .ss-arrow {
  transform: scale(1, -1);
  background-image: svg-load('../blocks/sprite-svg/svg/arrow-down-sm.svg', fill=$main-color);
}

.ss-content .ss-list .ss-option {
  //transition: background $transition-time;

  .ss-selected {
    background-color: $main-color;
  }

  &:hover:not(.ss-disabled) {
    border-left: none;
    //transition: none;
  }
}

.field-select__select.ss-open {

  @media (max-width: $screen-md - 1) {
    left: 12px !important;
    //margin-top: -1px !important;
  }
}
