.modal {
  $block-name:                &; // #{$block-name}__element

  &__form-wrapper {
    margin: 32px 0;
  }

  &__messengers {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 4px 12px;

    & > * {
      margin: 0 !important;
    }
  }
}

.modal-dialog {

  @media (min-width: $screen-md) {
    max-width: 572px;
  }

  @media (min-width: $screen-xl) {
    max-width: 1000px;
  }
}

.modal-content {
  background-color: $body-bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  isolation: isolate;
}

.modal-header,
.modal-body,
.modal-footer {
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: $screen-md) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $screen-xl) {
    padding-right: 200px;
    padding-left: 200px;
  }
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  padding-top: 16px;

  @media (min-width: $screen-md) {
    padding-top: 40px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 50px;
  }

  &::before {
    display: block;
    content: "";
    width: 44px;
    height: 44px;
    flex: 0 0 44px;
  }
}

.modal-title {
  flex: 1 1 auto;
  margin: 0 !important;
  text-align: center;

  span {
    display: block;
  }
}

.modal-close {
  flex: 0 0 44px;
  gap: 16px;

  @media (min-width: $screen-md) {
    transform: translate(44px, -24px);
  }

  @media (min-width: $screen-xl) {
    transform: translate(172px, -32px);
  }

  &:hover,
  &:focus {

    .close > span::before,
    .close > span::after {
      background: $color-danger;
    }
  }
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;

  p {
    text-align: center;
  }
}

.modal-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 16px;
  text-align: center;

  @media (min-width: $screen-md) {
    padding-bottom: 40px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 50px;
  }

  & > * {
    margin: 0;
  }

  a {
    text-decoration: inherit;
  }

  .social-network {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 8px;
  }
}

.btn-close {
  //position: static;
  margin: 0;
}

.modal-backdrop.fade.show {
  background-color: $white;
  opacity: 0.95;
}

