.article-img-lg {
  $block-name:                &; // #{$block-name}__element

  @include col-offset(xs, 1);
  @include col(xs, 10);
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    object-fit: cover;
    object-position: center;
  }
}
