.test {

  $block-name:                &; // #{$block-name}__element

  &__text-block {
    text-align: center;
    text-wrap: balance;
    hyphens: none;
  }

  &__text-block-col {
    @include col-offset(xs, 1);
    @include col(xs, 10);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }
}
