.custom-made {
  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__cta-wrapper {
    text-align: center;
  }
}
