.article-header {
  $block-name:                &; // #{$block-name}__element

  margin-top: 20px !important;

  //&__row {
  //}

  &__text-col {
    @include col(xs, 12);
    @include col-offset(md, 0.5);
    @include col(md, 5.5);
    order: 1;
  }

  &__img-col {
    @include col(xs, 12);
    @include col(md, 6);
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px 0;
    height: 100%;
    padding: 20px 0 0;

    @media (min-width: $screen-xl) {
      gap: 30px 0;
    }
  }

  &__title,
  &__author,
  &__datetime {
    margin: 0 !important;
  }

  //&__author {
  //}

  //&__datetime {
  //}

  &__img {

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
