$line-height:                 1.375em !default;
$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {
  margin-top: 12px;
  margin-bottom: 12px;

  $block-name:   &; // #{$block-name}__element

  &__list {
    display: block;
    //flex-wrap: wrap;
    //align-items: center;
    font-size: $font-size-sm;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item {
    display: inline-flex;
    align-items: baseline;
    max-width: 100%;
    margin-right: 8px;
    //margin-bottom: 0.5em;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: '/'; // U+276F, HTML-код &#10095; CSS-код  \276F - Прававя угловая скобка
      display: inline-block;
      margin-left: 8px;
      //font-weight: 200;
      color: $text-muted;
    }

    &:last-child {
      margin-right: 0;

      #{$block-name}__link {
        text-decoration: none;
        color: $secondary-color;
      }
    }
  }

  &__link {
    max-width: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: $text-muted;

    &:hover,
    &:focus {
      color: $main-color;
      //text-decoration: none;
    }

    &:active {
      color: $secondary-color;
    }
  }
}
