.masterpieces-slider {
  $block-name:                &; // #{$block-name}__element

  max-width: $screen-xxl;
  margin: 0 auto;

  &__header {
    margin-bottom: 40px;
    text-align: center;
  }

  &__title {
    margin-top: 0;
  }

  &__intro {
    max-width: 800px;
    margin: 0 auto;

    & > * {
      hyphens: none;
      text-wrap: balance;
    }
  }

  //&__container {
  //}

  &__slide {
    height: 676px;
    background: grey;

    @media (min-width: $screen-md) {
      height: 940px;
    }
  }

  &__text {
    height: 100%;

    .row {
      height: inherit;
    }
  }

  &__slide-text-col {
    //@include col-offset(xs, 1)
    @include col(xs, 12)
    @include col-offset(md, 1)
    @include col(md, 5)
    @include col-offset(xxl, 1)
    @include col(xxl, 4)

    height: 100%;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__slide-text {
    padding-top: 60px;
    padding-bottom: 60px;
    color: $white;

    @media (max-width: $screen-md - 1) {
      text-align: center;
    }

    p {

      @media (max-width: $screen-md - 1) {
        @include visually-hidden;
      }
    }
  }

  &__slide-title {
    margin-top: 0 !important;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    pointer-events: none;

    @media (max-width: $screen-md - 1) {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__btn-prev,
  &__btn-next {
    position: static;
    margin: 0 !important;
    color: $white !important;
    pointer-events: initial;
    filter: drop-shadow(0 2px 2px rgba($black, 0.6));

    &.swiper-button-disabled {
      color: $white !important;
    }
  }

  &__btn-prev {

    @media (min-width: $screen-xl) {
      transform: translateX(-56px); //44+12
    }
  }

  &__btn-next {

    @media (min-width: $screen-xl) {
      transform: translateX(56px); //44+12
    }
  }
}
