.main-nav-modal {
  $block-name:                &; // #{$block-name}__element

  &.offcanvas.offcanvas-top {
    top: 96px; //96
    bottom: unset;
    //--bs-offcanvas-height: calc(100vh - 96px);
    --bs-offcanvas-height: auto;
    z-index: 90;
    background: $body-bg;
    border-top: 1px solid $main-color;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1);
  }

  .offcanvas-header {
    padding-top: 0;
    padding-bottom: 0;
    height: 20px;

    &__inner {
      position: relative;
    }

    .page-header__btn {
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 1;

      @media (max-width: $screen-xxl - 1) and (hover: hover) and (pointer: fine) {
        right: 10px;
      }

      @media (min-width: $screen-xxl) and (hover: hover) and (pointer: fine) {
        right: 5px;
      }
    }
  }

  .offcanvas-body {
    padding-top: 0;
    padding-bottom: 20px;
    //overflow-y: hidden;
  }

  // .main-nav__list {
  //   padding-left: 0;
  // }

  &--inner-scroll {

    .offcanvas-body {
      overflow-y: hidden;
    }

    .main-nav__list,
    .main-nav__list-lev2 {
      max-height: 100%;
      //max-height: 600px;
      overflow-y: auto;
    }
  }
}
