.season-event {

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin: 0 0 40px;
    text-align: center;

    // @media (min-width: $screen-xl) {
    //   margin-bottom: 60px;
    // }
  }

  &__inner {
    background-color: $block-bg;

    .row {
      gap: 30px 0;
    }
  }

  &__img-col {
    @include col(xs, 12);
    @include col(md, 6);
  }

  &__text-col {
    @include col-offset(xs, 1);
    @include col(xs, 10);
    @include col-offset(md, 0);
    @include col(md, 6);
    @include col-offset(xl, 1);
    @include col(xl, 4);
  }

  // &__subtitle {

  // }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem 0;
    height: 100%;
    padding-bottom: 30px;

    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      padding: 30px 20px;
    }

    & > * {
      margin: 0 !important;
    }
  }
}
