.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  margin: 0;
  padding: 0 24px;
  font-size: $font-size-dt;
  font-weight: 500;
  font-family: $font-family--headings;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $secondary-color;
  border-radius: $border-radius;
  border: 1px solid currentColor;
  background-color: $body-bg;
  background-image: none;
  user-select: none;
  cursor: pointer;
  transition: all $transition-time ease;

  @media (min-width: $screen-md) {
    font-size: $font-size-lg;
    line-height: 1.3;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $main-color;
    border-color: $main-color;
  }

  &:active {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-muted;
    background-color: $body-bg;
    border-color: currentColor;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &__link {
    //flex: 0 0;
    width: auto;
    padding: 0;
    color: inherit !important;
    background-color: transparent;
    border-color: transparent;
    transition: color 0.85s cubic-bezier(.19,1,.22,1);

    &:hover,
    &:focus {
      color: $main-color !important;
      background-color: transparent;
      border-color: transparent;

      span::after {
        animation:
          line-bounce 0.85s cubic-bezier(.19,1,.22,1) 0.05s forwards;      /* 95% — появление с отскоком */
      }
    }

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: currentColor;
        transform: scaleX(1);
        transform-origin: center;
        transition: none;
      }
    }
  }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
