.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  margin: 0;
  padding: 0  $field-padding-horizontal;
  font-size: 1rem;
  font-family: inherit;
  line-height: $line-height;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  background-image: none;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &__link {
    //flex: 0 0;
    width: auto;
    padding: 0;
    color: inherit !important;
    background-color: transparent;
    border-color: transparent;
    transition: color 0.85s cubic-bezier(.19,1,.22,1);

    &:hover,
    &:focus {
      color: $main-color !important;

      span::after {
        animation:
          line-bounce 0.85s cubic-bezier(.19,1,.22,1) 0.05s forwards;      /* 95% — появление с отскоком */
      }
    }

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: currentColor;
        transform: scaleX(1);
        transform-origin: center;
        transition: none;
      }
    }
  }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
