.hero {
  position: relative;
  max-width: $screen-xxl;
  margin: 0 auto;

  $block-name:                &; // #{$block-name}__element

  &__text-col {
    @include col-offset(xs, 1);
    @include col(xs, 10);
    @include col-offset(md, 6);
    @include col(md, 5);
    @include col-offset(xl, 7);
    @include col(xl, 5);
    // @include col-offset(xl, 7.5);
    // @include col(xl, 4.5, $grid-columns, 16px);
    @include col-offset(xxl, 8);
    @include col(xxl, 4);
  }

  &__img {

    @media (max-width: $screen-md - 1) {
      height: 656px;
      overflow: hidden;
    }

    @media (min-width: $screen-md) {
      height: auto;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
    }
  }

  &__text {
    position: absolute;
    inset: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    text-shadow: $text-shadow;

    @media (max-width: $screen-md - 1) {
      text-align: center;
    }

    @media (min-width: $screen-md) {
      //padding-top: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    //@media (min-width: $screen-lg) {
      //padding-top: 255px;
    //}
  }

  &__title {
    margin-top: 0;
  }

  &__descr {
    text-wrap: balance;

    @media (min-width: $screen-xl) {
     font-weight: 600;
    }
  }

  &__descr-xs {

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__descr-md {

    @media (max-width: $screen-md - 1) {
      display: none;
    }
  }
}
