.temp-gallery {
  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  gap: 30px 0;

  @media (min-width: $screen-lg) {
    gap: 2.5rem 0;
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__card-container {

  }

  &__card-col {
    //@include col-offset(xs, 1);
    @include col(xs, 6);
    @include col(md, 4);

    &:last-child {

      @media (max-width: $screen-md - 1) {
        display: none;
      }
    }
  }

  &__card {

  }

  &__card-img {
    background: $block-bg;
  }

  &__card-text {
    margin-top: 10px;
    font-weight: 500;
    text-align: center;

    @media (min-width: $screen-lg) {
      margin-top: 1.25rem;
    }
  }
}
