.social-icons {
  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    display: inline-flex;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
