.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: flex-start;
  width: 33px;
  height: 44px;
  //white-space: nowrap;

  @media (min-width: $screen-md) {
    width: 199px;
    height: 43px;
  }

  img {
    flex: 0 0 auto;
    display: inline-flex;
    //max-height: 100%;
    //width: auto;
  }
}
