.page-footer {
  $block-name:                &; // #{$block-name}__element
  position: relative;

  @media (min-width: $screen-xxl) {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }

  &__inner {
    padding-top: 40px;
    margin-bottom: 40px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: $border-color;
    }

    @media (min-width: $screen-md) {
      padding-top: 60px;
      margin-bottom: 60px;
    }

    @media (min-width: $screen-xl) {
      padding-top: 100px;
      margin-bottom: 100px;
    }
  }

  &__news-col {
    @include col-offset(xs, 2);
    @include col(xs, 8);
    @include col-offset(md, 4);
    @include col(md, 4);
    @include col-offset(xl, 4.75);
    @include col(xl, 2.5);
  }

  &__main-col {
    @include col-offset(xs, 2);
    @include col(xs, 8);
    @include col-offset(md, 0);
    @include col(md, 4);
    @include col(xxl, 3.3333);

    &:first-child {

      @media (min-width: $screen-xxl) {
        @include col-offset(xxl, 1);
      }
    }
  }

  &__news {
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
      margin-bottom: 60px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 100px;
    }
  }

  &__news-title {

  }

  &__main {
    gap: 40px 0;
    // margin-bottom: 40px;

    // @media (min-width: $screen-md) {
    //   margin-bottom: 100px;
    // }
  }

  &__section {
    text-align: center;

    * {
      font-size: $font-size-sm;
    }

    a {
      text-decoration: none;
      white-space: nowrap;

      // &:hover,
      // &:focus {
      // }
    }

    li + li,
    li > ul {
      margin-top: 10px;
    }
  }

  &__section-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: $font-family;
    font-size: 16px;

    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }

    &--news {
      font-weight: 200;
    }
  }

  &__list {

  }

  &__list-item {

    & > a {
      margin-right: 8px;
      //font-weight: 400;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 28px 44px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    //box-shadow: 0 0 6.6px 2px rgba(203, 203, 203, 0.25);
    border-top: 2px solid rgba(203, 203, 203, 0.25);

    @media (min-width: $screen-md) {
      flex-direction: initial;
      align-items: center;
      text-align: initial;
    }

    * {
      margin: 0;
      font-size: $font-size-sm;
    }
  }

  &__copyrights,
  &__add-list {
    flex: 1 1;
    flex-basis: calc(100% / 2 - 35px - 88px);
  }

  &__logo {
    flex: 0 0 35px;
  }

  &__add-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 12px;

    @media (min-width: $screen-md) {
      justify-content: flex-end;
    }
  }

  &__add-item {
    flex: 0 0 auto;

    // & + & {
    //   margin-top: 8px;
    // }
  }

  &__add-link {
    text-decoration: none;
  }

  &__subscr-form {
    display: flex;
    justify-content: center;
    font-size: $font-size-sm;
    font-weight: 200;

    input,
    button {
      min-height: 24px;
      border: none;
    }

    label {
      white-space: nowrap;
    }

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      padding: 0;
      background: none;
      cursor: pointer;
      user-select: none;
    }
  }

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 4px;
    padding-bottom: 12px;
    border-bottom: 1px solid $black;
  }
}
