.goods-showcase {
  $block-name:                &; // #{$block-name}__element

  margin: 20px 0 40px;

  @media (min-width: $screen-md) {
    margin-bottom: 60px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 100px;
  }

  // &__row {
  // }

  &__slider-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 5);
  }

  &__text-col {
    @include col-offset(xs, 1);
    @include col(xs, 10);
    @include col-offset(md, 0);
    @include col(md, 6);
    @include col-offset(xl, 1);
    @include col(xl, 6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px 0;
  }

  &__line-col {
    @include col-offset(xs, 1);
    @include col(xs, 10);

    margin-top: 40px;
    //margin-bottom: 40px;;

    @media (min-width: $screen-md) {
      margin-top: 60px;
      //margin-bottom: 60px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 100px;
      //argin-bottom: 100px;
    }
  }

  &__line {
    //width: 100%;
    height: 1px;
    background-color: $border-color;

  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px 0;
    padding: 20px;

    @media (min-width: $screen-xl) {
      gap: 40px 0;
    }
  }

  &__header {
    text-align: center;
  }

  &__title {
    margin: 0 0 20px;

    // @media (min-width: $screen-xl) {
    //   margin-bottom: 20px;
    // }
  }

  &__descr {
    margin-top: 8px !important;
    margin-bottom: 0;

    p {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
  }

  &__item-num {
    margin-top: 8px;
  }

  // &__info {
  // }

  // &__opt-list {
  // }

  &__opt-item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;

    & + & {
      margin-top: 12px;
    }

    span {
      flex: 0 1;
      flex-basis: fit-content;
      font-weight: 500;
    }
  }

  &__contrl {
    text-align: center;
  }

  &__footer {
    flex: 0;
    display: flex;
    gap: 8px;

    & > *:last-child {
      margin-left: auto;
    }
  }
}
