.mob-menu {
  $block-name:                &; // #{$block-name}__element

  // min-width: 300px !important;
  // max-width: 380px !important;
  min-width: 100% !important;
  max-width: 100% !important;

  &__logo-wrapper {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    padding: 8px 0;
    //pointer-events: none;
  }

  &__close {
    position: static;
  }

  &__list {

  }

  &__item {

    & + & {
      margin-top: 8px;
    }

    &::after {
      display: none;
    }

    //& > span,
    & > .mm-listitem__text {
      font-size: 17px;
      font-family: $font-family--headings;
      text-transform: uppercase;
      line-height: 1.15;
      letter-spacing: 0.05em;
      white-space: normal;
      color: $text-color;
      overflow: visible;
      //text-overflow: none;
    }

    &.active {

      & > a,
      & > span {
        text-decoration: underline;
        color: $secondary-color;

        &::after {
          border-color: currentColor;
        }
      }
    }

    &--indent {
      margin: 26px 0 !important;
    }

    &--indi {
      padding-top: 20px;
      margin-top: 26px !important;

      #{$block-name}__link > span {
        display: inline-flex;
        position: relative;
        //width: fit-content;
        text-decoration: inherit;

        &::before {
          content: "";
          position: absolute;
          top: -28px;
          right: 0;
          left: 0;
          z-index: 1;
          //width: 100%;
          height: 0;
          //background-color: $border-color;
          border-top: 1px solid $border-color;
        }
      }
    }
  }

  &__link {

    & > span {
      display: block;
      max-width: 220px;
    }
  }

  &__list-lev2 {

    &:has(.mob-menu__item-lev2.has-img) {

      & > *:last-child {
        margin-top: 20px;
      }
    }
  }

  &__item-lev2 {

    & + & {
      margin-top: 4px;
    }

    &.active {

      a {
        text-decoration: underline;
        color: $secondary-color !important;

        &::after {
          border-color: currentColor;
        }

        span::after {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$secondary-color) !important;
        }
      }
    }

    &.has-img,
    &:has(img) {

      & + & {
        margin-top: 12px;
      }

      #{$block-name}__link-lev2 {
        display: block;
        position: relative;
        width: 100%;
        max-width: 440px;
        height: 100%;
        aspect-ratio: 482 / 208;
        padding: 0 16px;
        overflow: hidden;
        color: $white;
        pointer-events: auto;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      span {
        display: flex;
        align-items: center;
        position: absolute;
        inset: 0;
        max-width: 50%;
        padding: 16px 0 16px 36px;
        margin: 0 !important;
        text-wrap: balance;
        line-height: 1.3;
        white-space: normal;
        color: inherit;
        pointer-events: none;
      }

      &.active {

        #{$block-name}__link-lev2 span {
          text-decoration: underline;
          color: $white;
        }
      }
    }

    &[data-mm-child] {
      margin-top: 8px;

      & > .mm-listitem__text {
        font-size: 17px;
        font-family: $font-family--headings;
        text-transform: uppercase;
        line-height: 1.4;
        letter-spacing: 0.05em;
        white-space: normal;
        color: $text-color;
      }
    }

    &__link-lev2,
    .mm-listitem__text {
      font-family: inherit;
      font-size: $font-size-dt;
    }
  }

  a {

    &.all {

      span {

        &::after {
          display: inline-block;
          vertical-align: middle;
          content: "";
          width: 18px;
          height: 18px;
          margin-left: 6px;
          background-position: center;
          background-size: 16px;
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$text-color);
        }
      }
    }
  }
}

.mm-menu--position-left,
.mm-menu--position-left-front,
.mm-menu--position-right,
.mm-menu--position-right-front {
}

.mm-menu--position-left-front {
  --mm-translate-horizontal: calc(-100% - 2px);
}

.mm-listview {
  padding-top: 16px;
}

.mm-listitem__btn,
.mm-listitem__text {
  padding-top: 8px;
  padding-bottom: 8px;
}

.mm-listitem {

  &::after {
    display: none;
  }
}

.mm-navbars--top {
  //border-bottom: none;
  border-bottom: 1px solid $main-color;

  .mm-navbar {
    width: 100%;
    //justify-content: space-between;

    .mm-btn.mm-hidden {
      display: flex !important;
      opacity: 0;
    }
  }
}

.mm-btn--close {

  &::before {
    width: 24px;
    height: 24px;
    font-size: 40px;
    font-weight: 200;
  }
}

.mm-btn--next::after,
.mm-btn--prev::before {
  width: 12px;
  height: 12px;
  border-width: 1px;
}

.mm-navbar__title {
  font-family: $font-family--headings;
  font-size: 17px;
  text-transform: uppercase;
  color: $secondary-color !important;
}

// Overlay
.mm-wrapper--opened,
.mm-wrapper__blocker {
  background: $white;
  //opacity: 0.5 !important;
}

.mm-listitem--selected > .mm-listitem__text {
  text-decoration: underline !important;
  color: $secondary-color !important;
  background: $body-bg;
  pointer-events: none;
}
