.variable-card {
  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: $body-bg;
  overflow: hidden;
  //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 12px; // 30px 12px

    @media (min-width: $screen-md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $screen-xl) {
      gap: 30px 12px; // 40px 12px;
    }
  }

  &__img {
    flex: 1;
    display: block;
    min-height: 0;
    aspect-ratio: 3 / 4;
    overflow: hidden;

    &:hover,
    &:focus {

      & + #{$block-name}__caption a {
        color: $main-color;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__caption {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 6px 0; // было 8
    padding: 10px 0 0;
    text-align: center;
  }

  &__collection-name {
    margin: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__set-name {
    margin: 0 !important;
    text-decoration: none;
    line-height: 1.3 !important;
    outline-offset: -2px; // при фокусе рамка внутрь

    /* Ограничение в 2 строки */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    /* Фиксированная высота под 2 строки: 14px × 1.4 × 2 = 39.2px */
    height: 38px;

    @media (min-width: $screen-xl) {
      height: 56px;
    }
  }

  &--large {
    //grid-row: span 2;
    grid-column: span 2;

    @media (min-width: $screen-md) {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
}
