/*!*
 * ВНИМАНИЕ! Этот файл генерируется автоматически.
 * Не пишите сюда ничего вручную, все такие правки будут потеряны.
 * Читайте ./README.md для понимания.
 */

@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';
@import '../../node_modules/bootstrap/scss/_mixins';
@import '../../node_modules/bootstrap/scss/_dropdown';
@import '../../node_modules/bootstrap/scss/_modal';
@import './src/scss/variables.scss';
@import './src/scss/mixins.scss';
@import '../../node_modules/swiper/swiper-bundle.min.css';
@import './src/blocks/breadcrumbs/breadcrumbs.scss';
@import './src/blocks/btn/btn.scss';
@import './src/blocks/close/close.scss';
@import './src/blocks/embed-responsive/embed-responsive.scss';
@import './src/blocks/field-actions/field-actions.scss';
@import './src/blocks/field-checkbox/field-checkbox.scss';
@import './src/blocks/field-file/field-file.scss';
@import './src/blocks/field-radio/field-radio.scss';
@import './src/blocks/field-select/field-select.scss';
@import './src/blocks/field-text/field-text.scss';
@import './src/blocks/form/form.scss';
@import './src/blocks/lang-switcher/lang-switcher.scss';
@import './src/blocks/logo/logo.scss';
@import './src/blocks/main-nav/main-nav.scss';
@import './src/blocks/modal/modal.scss';
@import './src/blocks/page/page.scss';
@import './src/blocks/page-footer/page-footer.scss';
@import './src/blocks/page-header/page-header.scss';
@import './src/blocks/pagination/pagination.scss';
@import './src/blocks/scroll-link/scroll-link.scss';
@import './src/blocks/sprite-svg/sprite-svg.scss';
@import './src/blocks/table/table.scss';
@import './src/blocks/table-mobile-scroll/table-mobile-scroll.scss';
@import './src/blocks/to-top/to-top.scss';
@import './src/blocks/typo/typo.scss';
@import './src/blocks/hero/hero.scss';
@import './src/blocks/banner-xl/banner-xl.scss';
@import './src/blocks/gallery-carousel/gallery-carousel.scss';
@import './src/blocks/text-block/text-block.scss';
@import './src/blocks/gallery-card/gallery-card.scss';
@import './src/blocks/dropdown/dropdown.scss';
@import './src/blocks/season-event/season-event.scss';
@import './src/blocks/masterpieces-slider/masterpieces-slider.scss';
@import './src/blocks/about-house/about-house.scss';
@import './src/blocks/main-header/main-header.scss';
@import './src/blocks/cards-2-4/cards-2-4.scss';
@import './src/blocks/section-header-link/section-header-link.scss';
@import './src/blocks/section-header-filter/section-header-filter.scss';
@import './src/blocks/media-block/media-block.scss';
@import './src/blocks/variable-card/variable-card.scss';
@import './src/blocks/goods-showcase/goods-showcase.scss';
@import './src/blocks/showcase-slider/showcase-slider.scss';
@import './src/blocks/goods-text/goods-text.scss';
@import './src/blocks/fs-img-16-9/fs-img-16-9.scss';
@import './src/blocks/video-16-9/video-16-9.scss';
@import './src/blocks/fs-img-2x/fs-img-2x.scss';
@import './src/blocks/promo-slider/promo-slider.scss';
@import './src/blocks/lazy-video/lazy-video.scss';
@import './src/scss/print.scss';
