// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$color-success:               hsl(120, 39%, 54%);
$color-danger:                #de1f1f; // Rojo
$color-warning:               #875c00; // Golden brown

//$color-vk:                    #4a76a8;
//$color-fb:                    #4267b2;
//$color-tw:                    #40A2F5;
//$color-gh:                    #24292e;


// Семантические цвета

$main-color:                  #c7a252; // Satin sheen gold
$color-main:                  $main-color;
$secondary-color:             #875c00; // Golden brown

$text-color:                  #000000; // Black
$title-color:                 $text-color;
$text-muted:                  #646464; // Dim gray

$body-bg:                     #ffffff;
$block-bg:                    #f5f5f5; // White smoke

$link-color:                  $text-color;
$link-color--hover:           $secondary-color;

$border-color:                $text-muted;
$divider-color:               $main-color;


// Базовая типографика

$font-size:                   14px;
$font-size--dt:               16px;
$font-size--base:             1rem;
$font-size-sm:                12px;
$font-size-lg:                20px;

$font-size--h1:               40px;
$font-size--h2:               30px;
$font-size--h3:               20px;
$font-size--h4:               16px;
$font-size--h5:               14px;
$font-size--h6:               14px;

$line-height:                 1.5;

$typo-margin-vertical:        1em;

$font-family:                'Inter', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--headings:      'Cormorant Garamond', 'Times New Roman', 'Times', 'Georgia', 'Liberation Serif', serif;
$font-family--monospace:     'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;


// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   1280px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                100%;
$container-xl:                $screen-xl - 20;
$container-xxl:               $screen-xxl - 20;


// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           12px; //12-xs, 12-md, 12-xl
// margin: 16-xs, 40-m, 118-xl


// Разное

$field-padding-vertical:      8px;
$field-padding-horizontal:    16px;

$border-radius:               0;
$opacity:                     0.7;
$shadow:                      0 6px 7px rgba(0, 0, 0, 0.1);
$text-shadow:                 0 2px 5px rgba(0, 0, 0, 0.6);
$transition-time:             0.25s;


// BS4 vars for mixins
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$transition-base:                             all .2s ease-in-out !default;
$transition-fade:                             opacity .15s linear !default;
$transition-collapse:                         height .2s ease !default;

$menu-desktop-width:          $screen-xl;
$toggler-part-height:         3px;
$toggler-part-bg-color:       #000;

//$z-index-modal:               100;
