.presentaion {
  $block-name:                &; // #{$block-name}__element

  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  &__inner {
    background-color: $block-bg;
  }

  //&__row {
  //}

  &__text-col {
    @include col(xs, 12);
    @include col(md, 6);
    //@include col(xl, 3);
  }

  &__img-col {
    @include col(xs, 12);
    @include col-offset(md, 1);
    @include col(md, 5);
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px 0;
    height: 100%;
    padding: 40px 0;
    text-align: right;

    @media (min-width: $screen-md) {
      gap: 40px 0;
    }

    @media (min-width: $screen-xl) {
      gap: 80px 0;
    }

    & > * {
      margin: 0;
    }
  }

  // &__fullname {
  // }

  // &__position {
  // }

  // &__quote {
  // }

  &__img {

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
