.gallery-card {
  $block-name:                &; // #{$block-name}__element

  &__img {
    background: $block-bg;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    margin-top: 10px;
    font-weight: 500;
    text-align: center;

    @media (min-width: $screen-xl) {
      margin-top: 1.25rem;
    }
  }
}
