.gallery-card {
  $block-name:                &; // #{$block-name}__element

  margin: 0;

  &__img {
    background: $block-bg;

    &:hover,
    &:focus {

      & + figcaption a {
        color: $link-color--hover;
      }
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    margin-top: 10px;
    font-family: $font-family--headings;
    font-size: $font-size-dt;
    font-weight: 500;
    text-align: center;

    @media (min-width: $screen-xl) {
      margin-top: 1.25rem;
      font-size: $font-size-lg;
    }
  }

  &__text-link {
    text-decoration: none;
    color: inherit;
    //color: $text-color;
  }
}
